<!doctype html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body ng-app="writingPrompter">
      <div id='container' ng-controller="mainController">
        <div id='newPromptArea'>
          <input type = 'text' id='userPromptBox' ng-model='userPrompt' />
          <button id='buttonNewPrompt' type = 'button' ng-click='userPromptSubmit()'>
            Submit Prompt
          </button>
        </div>
          <div id='getPromptsArea'>
            <span id='clicker'>
              <button id='buttonStatic' type='button' ng-click="localPromptShow()">
                 New Prompt
               </button>
               <button id='buttonReddit' type='button' ng-click="redditPromptShow()">
                 New Reddit Prompt
              </button>
              <button id='buttonUserPrompt' type='button' ng-click='userPromptShow()'>
                New User Prompt
              </button>
              <button id='buttonDelete' type='button' ng-click='userPromptDelete()'>
                Clear User Prompts
              </button>
            </span>
          </div>
          <div id='promptArea'>
            {{ prompt }}
          </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="controllers/mainController.js"></script>
      <script src="factories/helperFactory.js"></script>
      <script src="factories/localFactory.js"></script>
      <script src="factories/redditFactory.js"></script>
      <script src="factories/userFactory.js"></script>

  </body>
</html>
