<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="controllers/mainController.js"></script>
    <script src="factories/helperFactory.js"></script>
    <script src="factories/localFactory.js"></script>
    <script src="factories/redditFactory.js"></script>
    <script src="factories/userFactory.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  </head>
  <body class='container' ng-app="writingPrompter">
      <div class='row' id='container' ng-controller="mainController">
        <div class='col s12' id='newPromptArea'>
          <input class='col s9' type = 'text' id='userPromptBox' ng-model='userPrompt' />
          <button class='col s3' id='buttonNewPrompt' type = 'button' ng-click='userPromptSubmit()'>
            Submit Prompt
          </button>
        </div>
          <div class='col s12' id='getPromptsArea'>
            <span id='clicker'>
              <button class='col s3'id='buttonStatic' type='button' ng-click="localPromptShow()">
                 New Prompt
               </button>
               <button class='col s3' id='buttonReddit' type='button' ng-click="redditPromptShow()">
                 New Reddit Prompt
              </button>
              <button class='col s3' id='buttonUserPrompt' type='button' ng-click='userPromptShow()'>
                New User Prompt
              </button>
              <button class='col s3' id='buttonDelete' type='button' ng-click='userPromptDelete()'>
                Clear User Prompts
              </button>
            </span>
          </div>
          <div class='col s10' id='promptArea'>
            {{ prompt }}
          </div>
      </div>


  </body>
</html>
