/*
style: http://paletton.com/#uid=33M0u0ksutJhCBymDvauynIzSiI
*/

body{
  background-color: #e0e0e0;
}

#container{
  background-color: #21459f;
  height: 300px;
  width: 400px;
  border-raidus: 10px;
  color: #607abc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
}

#getPromptsArea{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: block;
}

#getPromptsArea button{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12px;
  height: 20px;
  width: 190px;
  margin-bottom: 5px;
  background-color: #607abc;
  color: #ffe873;
}

#promptArea{
  display:flex;
  background-color: #ffe873;
  height: 150px;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  font-size: 18px;

}
