body{
  background-color: #e0e0e0;
}

#container{
  background-color: #21459f;
  height: 300px;
  width: 400px;
  border-raidus: 10px;
  color: #607abc;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#promptArea{
  background-color: #ffe873;

}
